
[mysqladmin]
user=root

[mysqld]
basedir=/home/victor/wordpress-5.2.3-0/mysql
datadir="/home/victor/wordpress-5.2.3-0/mysql/data"
port=3307
socket=/home/victor/wordpress-5.2.3-0/mysql/tmp/mysql.sock
tmpdir=/home/victor/wordpress-5.2.3-0/mysql/tmp
max_allowed_packet=32M
bind-address=127.0.0.1
skip-name-resolve=1
expire_logs_days=7

default-authentication-plugin=mysql_native_password
character-set-server=UTF8
collation-server=utf8_general_ci
[client]
port=3307
socket=/home/victor/wordpress-5.2.3-0/mysql/tmp/mysql.sock

default-character-set=UTF8
[manager]
port=3307
socket=/home/victor/wordpress-5.2.3-0/mysql/tmp/mysql.sock
pid-file=/home/victor/wordpress-5.2.3-0/mysql/tmp/manager.pid
default-mysqld-path=/home/victor/wordpress-5.2.3-0/mysql/bin/mysqld.bin

